.red-border {
  border: 0.5rem solid $border-color;
}

.pointer {
  cursor: pointer;
}

.border-box {
  box-sizing: border-box;
}

.center {
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}

.col-80 {
  width: 80%;
}

.col-90 {
  width: 90%;
}

.col-20 {
  width: 20%;
}

.col-40 {
  width: 40%;
}

.col-60 {
  width: 60%;
}

.mt-1 {
  margin: 1rem;
}

.mt-2 {
  margin: 2rem;
}

.inline-block {
  display: inline-block !important;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-auto {
  margin-right: auto;
}

.flexPassword {
  display: flex;
  align-items: center;
  width: 20%;
}

.centerStable {
  margin: auto auto;
}

.increase-width {
  width: 50%;
}

.none {
  display: none;
}

.broadline {
  // height: 2rem;
  border-top-width: 2px !important;
  // width: 2rem;
  // height: 2rem;
}

.pa-s {
  padding: 0.2rem;
}

.pa-v-s {
  padding: 0.2rem 0;
}

.pa-m {
  padding: 0.5rem;
}

.m-s {
  margin: 0.2rem;
}

.m-m {
  margin: 0.5rem;
}
